* {
    margin: 0;
}

@font-face {
    font-family: "inter";
    src: url('../font/TT\ Interphases\ Pro\ Mono\ Trial\ Bold.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../font/CreatoDisplay-Bold.otf');
}

body {
    background-color: #252528;
}

#logo_inter {
    width: 25%;
    padding: 5%;
}

#logo_perfil {
    width: 8%;
    padding: 5%;
    position: absolute;
    right: 0;
}

#revelar_saldo {
    width: 12%;
    position: absolute;
    padding: 5%;
    right: 25%;
}

#pesquisa_navbar {
    width: 11%;
    position: absolute;
    padding: 5%;
    right: 12%;
}

#opcoes_body {
    background-color: #2d2e30;
    border-radius: 30px;
    width: 3.863rem;
    gap: 5px;
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    align-items: center;
}

#brasil_bandeira {
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 35%;
}

#opcoes_body p {
    color: white;
    font-family: bold;
    font-size: 0.75rem;
}

#mundo_bandeira {
    width: 32%;
    margin-left: 40%;
}

#loop_logo {
    width: 32%;
    margin-left: 50%;
}

#opcoes_transferencia {
    background-color: #2d2e30;
    border-radius: 20px;
    margin: 5%;
}

#saldo_conta {
    display: flex;
    gap: 0px;
    align-items: center;
}

#rs {
    color: white;
    font-family: bold;
    margin-top: 1.875rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.6rem;
}

#pontos {
    color: white;
    font-family: bold;
    margin-top: 1.875rem;
    margin-left: 0.3rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
}

#seta {
    color: #b6b7bb;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    margin-left: 13rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
}

#opcoes_pagamentos {
    gap: 5px;
    display: flex;
    align-items: center;
}

#logo_pix {
    background-color: #252528;
    border-radius: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 23%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

#logo_pix img{
    width: 1.5rem;
}

#opcoes_pagamentos p {
    color: white;
    font-family: bold;
    font-size: 0.75rem;
}

#logo_pagar{
    background-color: #252528;
    border-radius: 30px;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

#logo_pagar img{
    width: 1rem;
}

#logo_cartao{
    background-color: #252528;
    border-radius: 30px;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}

#logo_cartao img{
    width: 1rem;
}

#opcoes_app{
    display: inline flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 90px;
    white-space: nowrap;
    align-items: center;
}

#opcoes_app p {
    color: white;
    font-family: bold;
    font-size: 0.75rem;
}

#shopping{
    max-width: 60px;
    width: 60px;
    margin-left: 5%;
}

#shopping p{
    text-align: center;
    margin-top: 7px;
}

#shopping img{
    background-color: #2d2e30;
    border-radius: 20px;
    width: 54px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#invest{
    width: 60px;
    margin-left: 5%;
}

#invest p{
    text-align: center;
    margin-top: 8px;
}

#invest img{
    background-color: #2d2e30;
    border-radius: 20px;
    width: 54px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#recargas{
    max-width: 60px;
    width: 100%;
    margin-left: 5%;
}

#recargas p{
    text-align: center;
    margin-top: 7px;
}

#recargas img{
    background-color: #2d2e30;
    border-radius: 20px;
    width: 54px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#giftCard{
    max-width: 60px;
    width: 100%;
    margin-left: 5%;
}

#giftCard p{
    text-align: center;
    margin-top: 7px;
}

#giftCard img{
    background-color: #2d2e30;
    border-radius: 20px;
    width: 54px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#poucancas{
    max-width: 60px;
    width: 100%;
    margin-left: 5%;
}

#poucancas p{
    text-align: center;
    margin-top: 7px;
}

#poucancas img{
    background-color: #2d2e30;
    border-radius: 20px;
    width: 54px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#mostrar_mais{
    max-width: 71px;
    width: 100%;
    margin-left: 5%;
}

#mostrar_mais p{
    text-align: center;
    margin-top: 7px;
}

#mostrar_mais img{
    background-color: #2d2e30;
    border-radius: 20px;
    width: 54px;
    height: 57px;
    display: block;
    margin: 0 auto;
}

#prog_preta img{
    width: 371px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 15px;
    height: auto;
}

#propaganda img{
    width: 371px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 15px;
    height: auto;
}

#opcoes{
    display: inline flex;
    width: 100%;
    gap: 20px;
    bottom: 10px;
    position: fixed;
    background-color: #252528;
}

#opcoes p{
    font-family: bold;
    font-size: 0.7rem;
}

#inicio{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    max-width: 40px;
    width: 100%;
}

#inicio img{
    width: 100%;
}

#inicio p{
    margin-top: 7px;
    color: #ea7100;
    text-align: center;
}

#invest2{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    max-width: 47px;
    width: 100%;
}

#invest2 p{
    margin-top: 7px;
    text-align: center;
    color: rgb(201, 198, 198);
}

#invest2 img{
    width: 100%;
}

#forum{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    max-width: 44px;
    width: 100%;
}

#forum p{
    margin-top: 7px;
    text-align: center;
    color: rgb(201, 198, 198);
}

#forum img{
    width: 100%;
}

#shop{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    max-width: 41px;
    width: 100%;
}

#shop p{
    margin-top: 7px;
    text-align: center;
    color: rgb(201, 198, 198);
}

#shop img{
    width: 100%;
}

#shop{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    max-width: 41px;
    width: 100%;
}

#shop p{
    margin-top: 7px;
    text-align: center;
    color: rgb(201, 198, 198);
}

#shop img{
    width: 100%;
}

#Mais{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    max-width: 37px;
    width: 100%;
}

#Mais p{
    margin-top: 7px;
    text-align: center;
    color: rgb(201, 198, 198);
}

#Mais img{
    width: 100%;
}